.header-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.header-logo {
    font-size: 32px
}

.darkness-mode-btn {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-right: 12px;
}